    rofi.opacity: 90
    rofi.width: 1600
    rofi.lines: 3
    rofi.columns: 1
    rofi.font: Terminus 9
    rofi.fg: #9e9e9e
    rofi.bg: #333333
    rofi.hlfg: #dedede
    rofi.hlbg: #333333
    rofi.bc: #dedede
    rofi.bw: 2
    rofi.location: 1
    rofi.padding: 2
    rofi.yoffset: -2
    rofi.xoffset: 0
    rofi.fixed-num-lines: false
    rofi.sidebar-mode: false
    rofi.terminal: gnome-terminal
    rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
    rofi.key-run: F12
    rofi.key-window: mod1+F2
    rofi.key-ssh: mod1+F3
